body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.container > h2 {
  text-align: center;
}

div.container > div {
  padding-right: 32px;
  padding-left: 32px;
}

div.container > footer {
  margin-top: 18px;
  padding-top: 8px;
  text-align: center;
}

div.container > footer > a {
  font-weight: bold;
  text-decoration: none;
}
